<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile *ngFor="let card of cards" [colspan]="card.width" [rowspan]="card.height">
    <mat-card style="  width: calc(100% - 70px); height: calc(100% - 70px);" class="mat-card">
      <mat-card-header class="mat-card-header">
        <mat-card-title class="mat-card-title">{{card.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-card-content">{{card.content}}</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
